<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">
          加入该课程的有
        </h3>

        <% if(!attendances[0]) { %>
        <p>暂无</p>
        <% } else { %>
        <% attendances.forEach(function (attendance) { %>
        <%- include('attender', { user: attendance.attender }) %>
        <% }) %>
        <% } %>

        <div>
        <% if (!isAttended) { %>
        <form method="post" action="/course/<%= course._id %>/attend">
          <div class="field">
          </div>
          <input type="submit" class="ui icon button" value="加入课程" />
        </form>
        <% } else { %>
        <form method="get" action="/course/<%= course._id %>/attend/<%= isAttended._id %>/remove">
          <div class="field">
          </div>
          <input type="submit" class="ui icon button" value="退出课程" />
        </form>
        <% } %>
        </div>

      </div>
    </div>
  </div>
</div>