<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">
          加入该课程的有
        </h3>

        <% if (!isAttended[0]) { %>
        <form class="ui reply form" method="post" action="/posts/<%= post._id %>/attend">
          <div class="field">
          </div>
          <input type="submit" class="ui icon button" value="加入课程" />
        </form>
        <% } else { %>
        <form class="ui reply form" method="get" action="/posts/<%= post._id %>/attend/<%= isAttended[0]._id %>/remove">
          <div class="field">
          </div>
          <input type="submit" class="ui icon button" value="退出课程" />
        </form>
        <% } %>

        <% attendances.forEach(function (attendance) { %>
          <%- include('avatar', { user: attendance.attender }) %>
        <% }) %>

      </div>
    </div>
  </div>
</div>