<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui minimal comments">
        <h3 class="ui dividing header">参与人</h3>

        <% attenders.forEach(function (attender) { %>
        <div class="comment">
            <span class="avatar">
              <img src="/img/<%= attender.attender.avatar %>">
            </span>
        </div>
        <% }) %>

      </div>
    </div>
  </div>
</div>