<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        <% if (user) { %>
          <h2 style="color: #000;">
            <%= user.name %>
          </h2>
          <a class="item" href="/posts?author=<%= user._id %>" target="_blank">个人主页</a>
          <div class="divider"></div>

          <% if (user.identity == 'teacher') { %>
            <a class="item" href="/posts/create" target="_blank">发表课程</a>
          <% } %>

          <a class="item" href="/signout">登出</a>

        <% } else { %>
          <a class="item" href="/signin">登录</a>
          <a class="item" href="/signup">注册</a>
        <% } %>
      </div>
    </div>
  </div>
</div>