<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/courses" target="_blank"><h1><%= eCourse.title %></h1></a>
      <p><%= eCourse.description %></p>
    </div>
  </div>
</div>