<div class="ui grid">
  <div class="four wide column"></div>

  <div class="eight wide column">
    <form class="ui form searchbar" method="post" action="/search">
      <select class="option" name="type" required>
        <option value="course">课程名</option>
        <option value="user">用户名</option>
      </select>
      <input type="text" class="query" name="words" style="width: 60%;" placeholder="输入课程名或用户名">
      <button type="submit" class="ui button" value="搜索">搜索</button>
    </form>
  </div>
</div>