<%- include('header') %>

<div class="ui grid">
  <%- include('components/avatar', { user: user }) %>

  <div class="eight wide column">
    <form class="ui form segment" method="post" action="/posts/<%= postId %>/lesson">
      <div class="field required">
        <label>课时</label>
        <input type="number" name = "order">
      </div>
      <div class="field required">
        <label>课时名称</label>
        <input type="text" name="title">
      </div>
      <div class="field required">
        <label>课时内容</label>
        <textarea name="content" rows="15"></textarea>
      </div>
      <input type="submit" class="ui button" value="发布">
    </form>
  </div>
</div>

<%- include('footer') %>