<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= eCourse.title %> - <%= subtitle %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
  <div class="container">
    <%- include('components/nav-bar') %>
    <%- include('components/notification') %>
