<%- include('header') %>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=文学">| 文学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=历史学">| 历史学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=法学">| 法学 > 查看全部</a></div>
  </div>
  <div class="two wide column"></div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=经济学">| 经济学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=管理学">| 管理学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=教育学">| 教育学 > 查看全部</a></div>
  </div>
  <div class="two wide column"></div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=理学">| 理学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=艺术学">| 艺术学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses?type=工学">| 工学 > 查看全部</a></div>
  </div>
  <div class="two wide column"></div>
</div>

<%- include('footer') %>