<%- include('header') %>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 文学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 历史学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 法学 > 查看全部</a></div>
  </div>
  <div class="two wide column"></div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 经济学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 管理学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 教育学 > 查看全部</a></div>
  </div>
  <div class="two wide column"></div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 理学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 艺术学 > 查看全部</a></div>
  </div>
  <div class="four wide column">
    <div class="ui segment type-segment"><a href="/courses">| 工学 > 查看全部</a></div>
  </div>
  <div class="two wide column"></div>
</div>

<%- include('footer') %>