/* ---------- 全局样式 ---------- */

* {
  font-family: "微软雅黑", serif !important;
}

body {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a:hover {
  border-bottom: 3px solid #1e70bf;
}

.button {
  background-color: #1e70bf !important;
  color: #fff !important;
  font-weight: normal !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
  display: inline-block;
}

.clear {
  float: none;
  border: none !important;
  clear: both;
}

.clear:hover {
  border: none;
}

.right {
  float: right;
}

.center {
  text-align: center !important;
}

/* ---------- user ---------- */
.userCard {
  display: inline-block;
  width: 60%;
}

.avatar-big {
  border-radius: 50%;
  width: 70px !important;
  height: 70px !important;
  display: inline-block;
}

.description {
  margin-top: 0.6em;
}

/* ---------- nav ---------- */

.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #1e70bf;
  display: inline-block;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- course-content ---------- */

.course-content h3 a {
  color: #1e70bf !important;
}

.course-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.course-content .tag.right {
  float: right;
  margin-right: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 0;
}

.minheight {
  min-height: 128px;
}

/* ---------- modal ---------- */

button[id="remove"] {
  border: none;
  background: white;
  padding: 0;
}

.modal.remove {
  width: 30% !important;
  margin-left: -15% !important;
}

.modal.modifyavt {
  width: 30% !important;
  margin-left: -15% !important;
}

.modal #cancel {
  background: #ffffff !important;
  color: #000 !important;
  border: 1px solid #ccc;
}