/* ---------- 全局样式 ---------- */

* {
  font-family: "微软雅黑", serif !important;
}

html {
  position: relative;
}

body {
  background: #f9f9f9;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a:hover {
  border-bottom: 3px solid #1e70bf;
}

.button {
  background-color: #1e70bf !important;
  color: #fff !important;
  font-weight: normal !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
  display: inline-block;
}

.clear {
  float: none;
  border: none !important;
  clear: both;
}

.clear:hover {
  border: none;
}

.right {
  float: right;
}

.center {
  text-align: center !important;
}

/* ---------- user ---------- */
.userCard {
  width: 60%;
  display: inline-block;
}

.ui.cards .user-menu {
  height: 45px;
}

.avatar-big {
  border-radius: 50%;
  width: 70px !important;
  height: 70px !important;
  display: inline-block;
}

.description {
  margin-top: 0.6em;
}

/* ---------- nav-bar ---------- */
.nav-bar {
  width: 100%;
  height: 60px;
  margin: 0 !important;
  padding: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background: white;
  position: fixed !important;
  top: 0;
  left: 0;
  vertical-align: middle;
  z-index: 99;
}

.nav-bar .logo {
  color: #999;
  margin-right: 30px;
  text-align: center;
  display: inline-block;
}

.nav-bar .logo .title {
  color: #1e70bf;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}

.nav-bar .logo .description {
  font-size: 16px;
  color: #999;
  margin-top: -15px;
}

.nav-bar .nav-menu {
  height: 55px !important;
  color: #666;
  font-size: 16px;
  position: relative;
  top: 18px;
}

.nav-bar .nav-search {
  position: relative;
  top: 10px;
  display: inline-block;
}

.nav-bar .nav-search button {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 0;
}

.nav-bar .signin, .nav-bar .signup {
  height: 73px;
  width: 100%;
  text-align: center;
}

.nav-bar .signin {
  background: transparent !important;
}

.nav-bar .signup a {
  color: white !important;
}

.nav-bar #signin, .nav-bar #signup {
  position: relative;
  top: 22px;
}

.nav-bar i.alarm {
  position: relative;
  top: 6px;
}

.nav-bar i.alarm {
  position: relative;
  top: 28px;
}

.nav-bar .button.messages, .nav-bar .avatar-small .button {
  height: 60px;
  background: transparent !important;
  border: none !important;
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

.nav-bar .avatar-small img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -5px;
}

.placeholder {
  height: 60px;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- notification ---------- */
.notification {
  margin-top: -20px !important;
}

/* ---------- footer ---------- */
.footer-ctn {
  width: 100%;
  height: 200px;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 60px;
  min-height: 50vh;
}

.footer-ctn .footer {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #333;
}

/* ---------- welcome ---------- */
.type-segment {
  width: 100%;
  height: 150px;
}

/* ---------- course-content ---------- */

.course-content h3 a {
  color: #1e70bf !important;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.course-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.course-content .tag.right {
  float: right;
  margin-right: 0;
}

.course-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 0;
}

.course-content pre.summary {
  word-wrap: break-word;
  margin-bottom: 1em;
  height: 5.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.course-content .minHeight {
  min-height: 128px;
}

.course-content .minContentHeight {
  min-height: 180px;
}

/* ---------- comment ---------- */
.comment .actions {
  margin-top: 0.5em !important;
}

/* ---------- lesson ---------- */
.lesson .remove {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

.lesson .remove:hover {
  color: #1e70bf;
}

/* ---------- modal ---------- */

button[id="remove"] {
  border: none;
  background: white;
  padding: 0;
}

.modal {
  width: 30% !important;
  margin-left: -15% !important;
}

.modal #cancel {
  background: #ffffff !important;
  color: #000 !important;
  border: 1px solid #ccc;
}

/* ---------- search bar ---------- */
.searchbar .option {
  width: 18% !important;
  display: inline-block !important;
}

.searchbar .query {
  width: 66% !important;
}